.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.new-collections h1 {
  color: #171717;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.new-collections hr {
  width: 50%;
  max-width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.collections {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .new-collections {
    height: auto;
  }

  .new-collections h1 {
    font-size: 2.5rem;
  }

  .collections {
    margin-top: 20px;
    gap: 15px;
  }
}
