.cart-items {
  margin: 100px 170px;
}

.cart-items hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cart-items-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cart-items-format {
  font-size: 17px;
  font-weight: 500;
}
.cart-icon-product-icon {
  height: 62px;
}
.cart-items-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.cart-item-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cart-items-down {
  display: flex;
  margin: 100px 0px;
}
.cart-items-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.cart-items-total-items {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cart-items-total-items.total {
  font-weight: 600;
}
.cart-items-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: black;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cart-items-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cart-items-promocode p {
  color: #555;
}
.cart-items-promo-box {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}
.cart-items-promo-box input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}

.cart-items-promo-box button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  font-weight: 600;
  background: black;
  color: white;
  cursor: pointer;
  border: none;
}

@media (max-width: 1331px) {
  .cart-items {
    margin: 100px 100px;
  }
}

@media (max-width: 1189px) {
  .cart-items {
    margin: 100px 50px;
  }
}

@media (max-width: 1091px) {
  .cart-items-down {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .cart-items-total {
    margin-right: 0px;
    width: 100%;
  }
  .cart-items-total-items {
    justify-content: space-between;
  }
  .cart-items-promocode {
    width: 80%;
  }
}

@media (max-width: 841px) {
  .cart-items {
    margin: 100px 20px;
  }
}

@media (max-width: 783px) {
  .cart-items-format-main {
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .cart-items-format-main {
    gap: 20px;
    font-size: 13px;
  }
}

@media (max-width: 697px) {
  .cart-items-promocode {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cart-items-promo-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
